* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Sans", sans-serif;
    color: white;
}

#sectionATF {
    background-image: url(./img/header.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header>img {
    width: 100px;
}

.navLink {
    color: white;
    padding: 0.5rem 2rem;

}

.navLink:hover {
    color: #AF8947;
}

.navIcon {
    width: auto;
    height: 20px;
    margin-left: 16px;
}

.navIcon:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 4px white);
}

.textATF {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textATF p {
    font-size: 2rem;
}

h1 {
    font-size: 5.25rem;
}

h2 {
    font-size: 2rem;
    color: #AF8947;
}

h3 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

.button {
    background-color: #AF8947;
    color: white;
    padding: 16px;
}

.mt16 {
    margin-top: 16px;
}

.button:hover {
    background-color: #c9a05b;
}

/* =================================================================================================
    QuickLinks
================================================================================================= */
#sectionQuickLinks {
    display: flex;
    background-color: black;
    padding: 4rem;
    gap: 2rem;
    justify-content: center;
}

.quickLink {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: scale 0.5s;
}

.quickLink:hover {
    scale: 1.02;
}

.quickLink__img {
    width: 25vw;
    object-fit: cover;
}

/* =================================================================================================
    FESTIVAL
================================================================================================= */
#sectionFestival {
    display: flex;
    background-color: #272727;
    align-items: center;
}

.flex1 {
    flex: 1;
}

.festivalImg {
    object-fit: cover;
    height: 300px;
}

.festivalDescription {
    padding: 40px;
    /*leichte Lösung Container so hoch wie das Bild (220+(2*40))*/
    height: 220px;
}

.textExtraTall {
    font-size: 2rem;
    padding-bottom: 20px;
}

.seperator {
    background-color: white;
    width: 1px;
    height: 250px;
}

.festivalButtonContainer {
    display: flex;
    justify-content: center;
    width: 300px;
}

/* =================================================================================================
    Slogan
================================================================================================= */
#sectionSlogan {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 200px;
}

.slogan {
    font-size: 24px;
    color: #AF8947;
    text-align: center;
    padding: 4rem;
}


/* =================================================================================================
    Video
================================================================================================= */
#sectionVideo {
    background-image: url("./img/bottom.png");
    height: 600px;
    background-size: cover;
    background-position: center;
}

/* =================================================================================================
    Footer
================================================================================================= */
footer {
    display: flex;
    background-color: black;
    padding: 4rem;
}

.half-width {
    width: 50%;
}

.socialMediaIcon {
    width: 32px;
}

.footer-left {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    padding-right: 16px;
}

.footer-center {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 16px;
}

input {
    height: 44px;
    padding-left: 16px;
    width: 60%;
}

input::placeholder {
    color: gray;

}

.button-footer {
    width: 200px;
    border-width: 0;
}

.footerForm {
    display: flex;
    justify-content: center;
}